@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


.maine {
	width: 1680px;
	height: 950px;
	padding: 99px 79px;
	margin: 0 auto;
	background-image: url(../img/buckraundtop1680.png);
}


.background__title {
	text-shadow: 2px 2px rgba(0, 0, 0, 0.387);
	font-family: "Lato";
	color: yellow;
	font-weight: 900;
	font-size: 40px;
	text-align: right;
}
.background__title h2 {
	font-size: 30px;
	line-height: 50px;
	color: black;
}

.list {
	position: absolute;
	width: 740px;
	height: 740px;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	overflow: scroll;
}

.list__saction-transform {
	display: inline-block;
	width: 740px;
	height: 740px;
}

.list__title {
	margin-top: 100px;
	font-family: "lato";
	font-weight: 700;
	font-size: 50px;
	text-shadow: 4px 4px rgba(0, 0, 0, 0.269);
	text-align: center;
	text-transform: uppercase;
}

.list__block-sea {
	position: absolute; 
}

.list__img-sea {
	position: absolute;
	margin-top: 290px;
	margin-left: 50px;

}
.list__img-moskov{
	position: absolute;
	margin-top: 185px;
	margin-left: 200px;
}

.list__img-moskov:hover {
	transform: translate(20%,20%);
	transition: all 0.5s ease 0s;
}

.list__img-moskov--scale:hover {
	transform: scale(1.5);
	transition: all 0.5s ease 0s;
}

.list__img-moskov--rotate:hover {
	transform-origin: 150px 150px;
	transform: rotate(45deg);
	transition: all 0.5s ease 0s;
} 

.list__img-moskov--skew:hover {
	transform-origin: 50px 150px;
	transform: skew(20deg,20deg);
	transition: all 0.5s ease 0s;
}

.list__img-moskov--matrix:hover {
	transform: matrix(0.7, -0.5, 0.1, 1, 100, 50);
	transition: all 1.5s ease 0s;
}

.list__img-moskov--plural:hover {
	transform: translate(30px, 30px) rotate(90deg) scale(0.5);
	transition: all 1.5s ease 0s;
}

.list__img-moskov--origin:hover {
	transform-origin: 100px 150px;
	transform: rotate(80deg);
	transition: all 1.5s ease 0s;
}

.list__img-moskov--perspective:hover {
	transform: rotateX(45deg);
	transition: all 1.5s ease 0s;
}

.list__img-moskov--backface:hover {
	transform: rotateY(150deg);
	backface-visibility: visible;
	transition: all 1.5s ease 0s;
}